<p>El sindicato nacional de profesionales de la seguridad - SINPROSEG, garantiza las mejores condiciones de 
    vida y empleo para los trabajadores de la seguridad a nivel nacional y su entorno dentro de la comunidad.

    Para lograrlo, se adquiere el compromiso de todos quienes lo conforman para:
</p>
<ul>
    <li>Impulsar el liderazgo y la formación integral de los trabajadores de la seguridad, afiliados a la
        organización sindical.</li>
    <li>Gestionar condiciones excelentes de salud y seguridad en el trabajo.</li>
    <li>Fortalecer la unidad y la solidaridad, generando espacios para dirimir diferencias.</li>
    <li>Luchar con vehemencia para defender los derechos de los trabajadores.</li>
    <li>Manejar con transparencia y honestidad los recursos de la organización sindical</li>
  </ul> 
