
<div class="side">
    <div class="dropdown">
    <button> <a href="/juntadirectiva">Junta Directiva Nal</a></button>
        <div class="dropdown-content">
        <a href="/organigrama-jdn">Organigrama JDN</a>
        <a href="/miembros-jdn">Miembros JDN</a>
        </div> 
    </div>
    <div class="dropdown">
        <button> <a href="/subdirectivas">Subdirectivas</a></button>
        <div class="dropdown-content">
            <a href="/caribe">Caribe</a>
            <a href="/pacifico">Pacífica</a>
            <a href="/andina">Andina</a>
            <a href="/orinoquia">Orinoquia</a>
            <a href="/amazonia">Amazonía</a>
        </div> 
    </div>
    <button> <a href="/estatutos">Estatutos</a></button>
    <button> <a href="/consultoria">Consultoria Jurídica</a></button>
    <button> <a href="/haz-parte-de-sinproseg">Haz parte de sinproseg</a></button>
    <button> <a href="/actividades">Actividades</a></button>
    <button> <a href="/cursos">Cursos</a></button>
    <button> <a href="/comunicados">Comunicados</a></button>
    <button> <a href="/coopserpar">Coopserpar</a></button>
</div>
