
<div class="side">
    <button> <a href="/juntadirectiva">Junta Directiva Nacional</a></button>
    <div class="dropdown">
        <button> <a href="/subdirectivas">Subdirectivas</a></button>
        <div class="dropdown-content">
            <a href="/Mision">Caribe</a>
            <a href="#">Pacífica</a>
            <a href="#">Andina</a>
            <a href="#">Orinoquía</a>
            <a href="#">Amazonía</a>
        </div> 
    </div>
    <button> <a href="/estatutos">Estatutos</a></button>
    <button> <a href="/consultoria">Consultoria Jurídica</a></button>
    <button> <a href="/hazpartedesinproseg">Haz parte de sinproseg</a></button>
    <button> <a href="/actividades">Actividades</a></button>
    <button> <a href="/cursos">Cursos</a></button>
    <button> <a href="/comunicados">Comunicados</a></button>
    <button> <a href="/coopserpar">Coopserpar</a></button>
</div>
