.side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
button{
    background-color: hsl(16, 88%, 53%);
    cursor: pointer;
    border: 2px solid ;
    border-radius: 22px;
    margin-bottom: 10px;
    width: 65%;
    padding: 3px;
    font-size: 13px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  