<div class="foot">
    <img src="assets\Captura_de_pantalla2025_02_07 220313.png" class="pict2">
    <div class="addres">Sede principal Calle 37 # 15-46 Teusaquillo Tel: 601 322 34 45</div>
    <div class="phones">Cel: 315 7609092 - 315 746 5387</div>
    <div class="email"><a href="mailto:sinproseg.nacional@gmail.com">email: sinproseg.nacional</a></div>
    <div class="social">
        <div><img src="assets\twitter (2).png">
            <!--<p>sinprosegn</p>-->
        </div>
        <div><img src="assets\instagram.png">
            <!--<p>sinprosegnacional</p>-->
        </div>
        <div><img src="assets\facebook.png">
            <!--<p>asinprosegn</p>-->
        </div>
    </div>
</div>
