<p>El sindicato nacional de profesionales de la seguridad - SINPROSEG, será reconocido por:</p>
<ul>
    <li>Propender por ser el sindicato líder de los trabajadores en la industria de la vigilancia y 
        segurdiad privada en Colombia.</li>
    <li>Su capacidad de convocatoria.</li>
    <li>La defensa de los derechos de los trabajadores afilaidos a la organización.</li>
    <li>El desarrolo integral de sus afiliados.</li>
    <li>Los logros sociales y políticos enmarcados en las diferentes negociaciones.</li>
    <li>Su combatividad en la férrea defensa de los derechos de sus afiliados.</li>
    <li>Proyección como organización sindical líder en la rama de la seguridad, derechos humanos y ámbito social
        a nivel nacional madiante la creación de una escuela de formación sindical.</li>
</ul>
